#canvas{
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1534237710431-e2fc698436d0?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 10px solid brown;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
#body{

}

